<!DOCTYPE html>
{% extends "mainapp/base.html" %}
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tags</title>
    </head>
    <body>
        {% block bradcrumb %}
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="">tag-{{ slug }}</a></li>
            </ol>
        {% endblock bradcrumb %}
        {% block mainbar %}
            <h3>Strony dla tagu - {{ tag }} </h3>
            <table class="table table-responsive">
            {% for site in sites|dictsortreversed:"group_id" %}
                <div class="{% if site.group_id == 2 %}bg-text{% endif %} col-sm-6" data-bg-text="premium" style="min-height:190px;">
                <a href="{{ site.get_absolute_url }}">
                    {{ site.name|capfirst }}</a>
                    <p class="dodano">Dodano: {{ site.date }}</p>
                    <img class="base-thumb" src="{{ site.get_thumb }}" alt="{{ site.name }}" />
                    <p align="justify">{{ site.description|safe|striptags|safe|truncatechars:110 }}</p>   
                </div>
            {% endfor %}
            </table>
            {% if sites.has_other_pages %}
              <ul class="pagination pagination-sm">
                {% if sites.has_previous %}
                  <li><a href="?page={{ sites.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in sites.paginator.page_range %}
                  {% if sites.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if sites.has_next %}
                  <li><a href="?page={{ sites.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        {% endblock mainbar %}
    </body>
</html>